* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#open {
  width: 95%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

#open > p {
    cursor: pointer;
}

.boots-title {
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
}

#pages {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: last baseline;
  border-bottom: 1px solid #393939;
  margin-bottom: 20px;
}

#pages > p {
  margin-right: 30px;
  padding: 5px 0px;
  border-bottom: 4px solid white;
}

#pages > #default-page {
    border-bottom: 4px solid #393939;
}

#pages > p:hover {
  border-bottom: 4px solid #393939;
  cursor: pointer;
}


#count {
  width: 95%;
  margin: auto;
  margin-bottom: 30px;
}

#products {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

#products > div > img {
  width: 100%;
  margin-bottom: 10px;
}

#products > div > button {
  border-radius: 8px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(202, 202, 255);
}

#products > div > button:hover {
  background-color: rgba(0, 0, 0, 0.611);
  color: aliceblue;
}

#products > div > p:nth-child(2) {
  font-weight: bold;
}
#products > div > p:nth-child(3) {
    margin-top: 10px;
    margin-bottom: 10px;
}
#products > div > p:nth-child(4) {
  font-weight: bold;
  margin-bottom: 10px;
}

#pages_no {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #393939;
  margin-bottom: 50px;
padding-top: 20px;
padding-bottom: 50px;
}

#pages_no > p {
  margin-right: 25px;
  padding: 5px;
  border-radius: 50%;
}

#pages_no > p:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: #b7b0b0ec;
}
