* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#header{
    height: 150px;
    width: 100%;
}

#bonus{

    height: 200px;
    width: 100%;
    margin: auto;
    display: flex;
    background-color: #eeeeee;

}
#bonus>div{

    height: 100%;
    width: 34%;
}
#bonus>.texts{
font-family: "Brandon text", Arial, sans-serif;
color: #000000;

}
#bonus>.texts>:nth-child(1){
    margin-top: 40px;
margin-left: 15px;
font-size: 21px;
font-weight: 700;
line-height: 23.94px;

}


#bonus>.texts>:nth-child(2){
    font-size: 15px;
    line-height: 23px;
    margin-left: 15px;
    margin-top: 7px;
    

}
#bonus>.texts>:nth-child(3){
    font-size: 15px;
    margin-left: 15px;
    margin-top: 8px;
    color: #000000;
    



}
#bonus>.img1{

    display: flex;
    justify-content: center;
    align-items: center;
}
#bonus>.img2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner{
    width: 100%;
    height: 550px;
    margin-top: 30px;
    margin: auto;
    display: flex;
}

#banner>.first{
height: 100%;
width: 60%;

}
#banner>.first>img{
    height: 100%;
    width: 100%;
}
#banner>.sec{
    height: 100%;
    width: 40%; 
  

}
#banner>.sec>.p1{
    font-family: "Brandon text", Arial, sans-serif;
    font-size:29px ;
    font-weight:700 ;
    line-height: 33px;
    margin-top: 140px;
margin-left: 15px;
color: #000000;
}
#banner>.sec>.p2{
    font-family: "Brandon text", Arial, sans-serif;
    font-size: 15px;
    line-height:21px ;
    margin-left: 15px;
    color: #000000;
    margin-top: 10px;


}
#banner>.sec>div{
    font-family: "Brandon text", Arial, sans-serif;
    font-size:15px ;
    line-height:21px ;
    margin-left: 15px;
    color: #000000;
    margin-top: 10px;



}
.deals{
    font-family: "Brandon text", Arial, sans-serif;
    font-size: 21px;
    font-weight: 600;
    margin-left: 20px;
}
.deals1{
    font-family: "Brandon text", Arial, sans-serif;
    font-size: 16px;
    margin-left: 20px;

}

#deals_h{
    height: 546px;
    width: 1459px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
    margin: auto;


    
}
#deals_h>div{
    padding: 20px;

}

#deals_h>div>img{
    height: 60%;
    width: 100%;

}
#deals_h>div:hover{
cursor: pointer;
}
#deals_h>div>p{

    font-family: "Brandon text", Arial, sans-serif;
    margin-left: 10px;
    color: #d61f27;


}

#inspire{
    height:142px;
    width: 1459.4px;
    margin:auto;
    text-align: center;
}
#inspire>h3{
    font-family: "Brandon text", Arial, sans-serif;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 4.2px;

}
#inspire>p{
    font-family: "Brandon text", Arial, sans-serif;
    font-size: 15px;
    line-height: 21px;


}
#blog{
    height: 618px;
    width: 100%px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
#blog>div{
    height: 100%;
}
#blog>div>img{
    height: 70%;
    width: 100%;
}

#blog>div>p{
    font-family: "Brandon text", Arial, sans-serif;
    font-size: 21px;
    line-height: 23px;
    font-weight: 700;
    text-align: left;

}
#blog>div>a{
    font-family: "Brandon text", Arial, sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: #393939;
}
.get_i{
text-align: center;
font-family: "Brandon text", Arial, sans-serif;
    font-size: 21px;
    line-height: 23px;
    font-weight: 700;
    letter-spacing: 2.4px;
    color: #393939;

}
#fashion_w{
    height: 618px;
    width: 1459px;
    margin-top: auto;
    margin-top: 15px;
    display: flex;
}
#fashion_w>.left1{
    height: 100%;
    width: 100%;
}
#fashion_w>.left1>img{
    height: 100%;
    width: 100%;
}
/* #fashion_w>.right1{
    height: 100%;
    width: 40%;
    border: 1px solid black;
} */

#latinx{
    height: 816px;
    width: 100%;
    margin: auto;
    margin-top: 15px;
}
#latinx>img{
    height: 100%;
    width: 100%;
}

#pick{

    height: 200px;
    width: 100%;
    margin: auto;
    display: flex;
    background-color: #eeeeee;
margin-top: 15px;

}
#pick>:nth-child(1){
    height: 100%;
    width:40% ;
}
#pick>:nth-child(2){
    height: 100%;
    width:20% ;
}
#pick>:nth-child(3){
    height: 100%;
    width:40% ;
}

#pick>.img12>h2{
    
    font-size: 21px;
    font-weight: 700;
    line-height: 23.94px;
    text-align: center;
    display: flex;
justify-content: center;
margin-top: 80px;
}

#pick>.img22>p{
   text-align: left;
margin-top: 80px;
}
#pick>.img22>a{
    text-align: left;
}

#pick>.texts2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#pick>.texts2>img{
    height: 60px;
    width: 60px;
    
}
#hr3{
    border: 4px solid rgb(255, 103, 21);
    margin-top: 0%;
    width: 1459px;
}
.hr{
    border: 1px solid black;
}
#hrr{
    border: 1px solid black;
    width: 1459px;
    margin-top: 80px;



}

#style{
    height: 400px;
    width: 1459px;
    margin: auto;
    margin-top: 15px;
}

#style>img{
    height: 100%;
    width: 100%;
}

#black{
    height: 200px;
    width: 1459px;
    margin: auto;
    border: 1px solid red;
    margin-top: 20px;
    display: flex;
}
#black>div{
    height: 100%;
    width: 100%;
}

#black>div>img{
    height: 100%;
    width: 100%;
}

#shop{
    height: 350px;
    width: 1459px;
    margin: auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    
}
#shop>div{
    padding:5px;
}
#shop>div>img{
    height: 80%;
    width: 100%;
}
#shop>div>p{
    font-family: "Brandon text", Arial, sans-serif;
text-align: center;
font-size: 14px;
font-weight: 700;
line-height: 18.2px;
color: #000000;
}
#shop>div:hover{
    cursor: pointer;
}
.para{
    font-size: 15px;
    font-family: "Brandon text", Arial, sans-serif;
    line-height: 21px;
    text-align: center;
}

#shopnow{
    height:365px;
    width: 1459.4px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;

}
#shopnow>div{
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#shopnow>.first{
background-image: url(https://cdn.dashhudson.com/media/640/1634145375.908124478742.jpeg);
background-position:center ;
background-size:cover ;
}
#shopnow>.sec{
    background-image: url(https://cdn.dashhudson.com/media/640/1633576910.42796190538.jpeg);
background-position:center ;
background-size:cover ;
}
#shopnow>.third{
    background-image: url(https://cdn.dashhudson.com/media/640/1638985643.81467653793.jpeg);
background-position:center ;
background-size:cover ;
}
#shopnow>.fourth{
    background-image: url(https://cdn.dashhudson.com/media/640/1639450121.23927782505.jpeg);
    background-position: center;
    background-size:cover ;
}
#shopnow>div>p{
    opacity: 0;
    /* transform: scale(0); */
    transition: 0.8s;
    font-size: 1rem;
    color: white;
    font-family:"Brandon text", Arial, sans-serif;

}
#shopnow>div:hover{
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.844) inset;
}
#shopnow>div:hover p{
    opacity: 1;
    transform: scale(1);

}